@model EntityFrameworkEg.Models.Contact
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>


<div>
   @Html.DisplayNameFor(hello => hello.ContactName)
   @Html.DisplayFor(hello => hello.ContactName)
</div>
<div>
   @Html.DisplayNameFor(hello => hello.Location)
   @Html.DisplayFor(hello => hello.Location)
</div>
