@model EntitiFrameWorkExam.Models.Course
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    Course Name :
    @Html.DisplayFor(m => m.CourseName)
</div>
<div>
    Duration : 
    @Html.DisplayFor(m => m.Duration)
</div>
<div>
    Remarks :
    @Html.DisplayFor(m => m.Remarks)
</div>